/*social icon styling*/

.facebook,
.linkedin,
.twitter {
  width: 100%;
  max-width: 30px;
  height: auto;
}

.social-icon-ul {
  list-style: none;
}

.social-icon-ul li {
  display: inline-block;
  padding: 10px;
}

/* nav styling*/
.nav-ul a {
  text-decoration: none;
  color: #b7d251;
}

.nav-ul a:hover {
  color: #edb518;
}

.nav-ul li {
  display: flex;
  padding: 10px;
}

.nav-ul li:hover {
  color: #edb518;
}

.nav-ul {
  display: flex;
  margin: 10px;
}

.nav-ul select:hover {
  color: #edb518;
}

.post-author-info img {
  max-width: 350px;
  width: 100%;
  height: auto;
}
#author-image {
  max-width: 50px;
}

.post img {
  border: 3px solid #edb518;
  border-radius: 50%;
}

.social-icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons-div a {
  color: #edb518;
}

/* style for main*/
/*For Mobile */
@media (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav-ul {
    margin: 0;
  }

  h1 {
    margin: 0;
  }

  logo-div {
    margin: 0;
  }
}

/*For Tablets*/
@media (max-width: 960px) {
  body {
    display: grid;
    grid-template-columns: 1f;
    grid-gap: 10px;
  }
}

/*For Laptops/Desktop*/
@media (min-width: 1025px) {
  .post-author-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }

  .post {
    grid-column: span 3;
  }

  .post {
    width: 90%;
    margin: auto;
  }

  .post-header {
    padding: 0 20px;
  }
}
